{
  "presets": [ "@babel/preset-env" ],
  "env": {
    "debug": {
      "sourceMaps": true,
      "retainLines": true
    }
  },
  "plugins": [
    ["module-resolver", {
      "root": ["./src"]
    }]
  ]
}
